.ingredientes_div_father {

  display: flex;

  flex-direction: row-reverse;
  align-items: center;

  gap: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
  justify-content: center;
}

.ingredientes_div_img {

    width: 35vw;
}
.ingredientes_div_img img{

    height: 60%;
    width: 90%;
    border-radius: 1rem;

}
.ingredientes_div_content {

    width: 35vw;
}

.ingredientes_div_content h2{

    color: #ac7e2f;
    font-size: 3rem;

}

.ingredientes_div_content p{
    text-align: center;
    font-size: 1.2rem;
}