.cards-container{
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    gap: 50px;

}

.card_delete{

    display: flex;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 20%;
    height:85%;
}

.card p{

    margin-right: 6rem;
    font-size: 1.1rem;
    
}

.card_image{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    height: 35%;
    width: 125%;
}

.card_image img{
    
    border-radius: 0.5rem;


    width: 60%;
    height: 100%;
}

.div_title{

    font-size: 1.5rem;
    text-align: center;
}


#DeleteButtom{

    background-color: transparent ; 
    border-width: 0px ;
    background-color: transparent;
    background: transparent;
    border-radius: 1.5rem ;
    transition: background-color 0.3s ease ;
    box-shadow: none;

}
.buttomDeleteDiv img{

    width: 100px;
    height: 100px;
}


.buttomDeleteDiv button:hover {
  transform: scale(1.05); 


    
}