
.AboutUs2_div_father{

    display: flex;
    flex-direction: column;

    height: 90vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.4rem;
}

.AboutUs2_div_father h2{

    color: #ac7e2f;
    font-size: 3rem;
}

.AboutUs2_div_father p{

    text-align: center;
}
.AboutUs2_div_content{
  width: 45vw;
    height: 50vh;

    

}


@media (max-width: 1024px) {
    .AboutUs2_div_father{ 
        height: auto; 
        min-height: 80vh; 
        font-size: 1.6rem;
    }

    .AboutUs2_div_father h2{
        font-size: 2.5rem;
    }

    .AboutUs2_div_content{
        width: 70vw; 
        height: fit-content;
    }
}



@media (max-width: 480px) {
    .AboutUs2_div_father{ 
        min-height: 70vh;
        padding: 10px; 
        font-size: 1.2rem; 
    }

    .AboutUs2_div_father h2{
        font-size: 2rem; 
        margin-bottom: 15px;
    }
    
    .AboutUs2_div_content{
        width: 90vw; 
        height: fit-content;
    }
}