.crud_div_father {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
}

.crud_div_daugther {
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  align-items: stretch;
  width: 70%;
  height: 80%;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.crud_row {
  display: flex;
  justify-content: space-between; 
}

.crud_row a {
  text-decoration: none;
  width: 40%;
}

.crud_div_daugther button {
  width: 100%;
  height: 15vh;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background-color: #ff6b6b;
  color: white;
  transition: background-color 0.3s ease;
}

.crud_div_daugther button:hover {
  background-color: #ff4c4c;
}

h2{

  font-size: 2.2rem;
  text-align: center;
}