.ContactUs_div_father {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 50px;
}

.ContactUs_content {
  width: 40vw;
  height: 50vh;
  /* border: 2px solid rgb(0, 0, 0); 
  border-radius: 0.5rem; */
  background-color: #e0dacf;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgb(175, 175, 175);
  transition: transform 0.3s ease;
}
.horario_content {
  width: 40vw;
  height: 50vh;
  /* border: 2px solid rgb(0, 0, 0); 
  border-radius: 0.5rem; */
  background-color: #e0dacf;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgb(175, 175, 175);
  transition: transform 0.3s ease;
}


.ContactUs_content:hover {
  transform: scale(1.05);
}

.horario_content:hover {
  transform: scale(1.05);

}
.horario_content h2 {
  color: #ac7e2f;
  font-size: 2.3rem;
}

.ContactUs_content h2 {
  color: #ac7e2f;
  font-size: 2.3rem;
}


.ContactDiv {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
